@import '../../styles/variable.scss';
.loginPageWrapper {
  @include flex(center, center, column);
  min-height: 100vh;
  .loginBox {
    @include flex(center, center, column);
    .Input {
      font-size: 1rem;
      border: 1px solid #f2f2f2;
      width: 470px;
      height: 58px;
      margin-bottom: 20px;
      padding-left: 15px;
    }
    .input {
      font-size: 1rem;
      border: 1px solid #f2f2f2;
      width: 470px;
      height: 58px;
      margin-bottom: 15px;
      padding-left: 15px;
    }
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    .loginButton {
      font-size: 1rem;
      margin-top: 2.9rem;
      // margin-bottom: 1rem;
      background-color: black;
      color: white;
      width: 470px;
      height: 58px;
      border-radius: 4px;
      cursor: pointer;
    }
    .linkButton {
      button {
        color: rgb(184, 184, 184);
        font-weight: bold;
        font-size: 1rem;
      }

      .borderLeftLine {
        margin-top: 40px;
        margin-left: 1.3rem;
        padding-left: 1.3rem;
        border-left: 1px solid #f2f2f2;
      }
    }
  }
}
