@import '../../styles/variable.scss';
.payBox {
  @include flex(none, none, column);
  width: 60vh;
  margin: 0 auto 0 auto;

  .totalProductAmount {
    @include flex(space-between, center, row);
    padding: 20px 0px 10px 0px;
    border-top: 1px solid #f2f2f2;
    font-size: 15px;
    color: #999;
    font-weight: bolder;
  }

  .deliveryFree {
    @include flex(space-between, center, row);
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    color: #999;
    font-weight: bolder;
  }

  .TotalPay {
    @include flex(space-between, center, row);
    padding: 10px 0px 20px 0px;
    font-weight: bolder;
    color: rgb(82, 82, 82);
    font-size: 17px;
  }

  .Paybutton {
    @include flex(space-between, center, row);
    padding: 20px 0px 20px 0px;

    .orderButton {
      background-color: white;
      color: black;
      width: 29.5vh;
      height: 6vh;
      border-radius: 5px;
      border: 0.5px solid black;
      cursor: pointer;
      font-size: 16px;
    }
    .AllorderButton {
      background-color: #222;
      color: white;
      width: 29.5vh;
      height: 6vh;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      border: none;
    }
  }
}
