@import '../../styles/variable.scss';
.payPageWrapper {
  @include flex(none, center, column);
  min-height: 100vh;
  padding-top: 15vh;

  .payPageBox {
    @include flex(none, none, row);

    .choiceBox {
      @include flex(none, none, column);

      .upChoiceBoxController {
        width: 60vh;
        @include flex(space-between, center, row);
        padding: 20px 0px 20px 0px;
        border-top: 1px solid rgb(226, 226, 226);
        border-bottom: 1px solid rgb(226, 226, 226);
        padding-left: 10px;

        .checkAll {
          cursor: pointer;
        }

        .checkDelete {
          background: none;
          border: none;
          margin-right: 20px;
          cursor: pointer;
        }
      }
      .downChoiceBoxController {
        width: 60vh;
        @include flex(space-between, center, row);
        padding: 20px 0px 20px 0px;
        border-bottom: 1px solid rgb(226, 226, 226);
        padding-left: 10px;

        .itemInformation {
          @include flex(none, none, column);

          label {
            font-weight: bolder;
            cursor: pointer;
          }

          p {
            margin: 10px 0px 25px 10px;
          }

          .SelectQuantityBox {
            position: relative;

            .SelectQuantity {
              width: 60px;
              margin-left: 10px;
              text-align: center;
            }

            .SelectQuantityPlus {
              position: absolute;
              right: 2px;
              width: 15px;
              top: -3px;
              background: none;
              border: none;
              font-size: 25px;
              cursor: pointer;
            }

            .SelectQuantityMinus {
              position: absolute;
              left: 10px;
              width: 15px;
              top: -8px;
              background: none;
              border: none;
              font-size: 30px;
              cursor: pointer;
            }
          }
        }

        .SelectQuantityImgBox {
          margin-right: 20px;
          position: relative;

          .orderItem {
            width: 80px;
            height: 120px;
          }

          .SelectQuantityClearButton {
            position: absolute;
            transform: rotate(45deg);
            background: none;
            border: none;
            font-size: 30px;
            top: -10px;
            cursor: pointer;
          }
        }
      }
    }
    .payBox {
      @include flex(none, none, column);
      margin-left: 10vh;

      .totalProductAmount {
        width: 40vh;
        @include flex(space-between, center, row);
        padding: 20px 0px 10px 0px;
        border-top: 1px solid rgb(226, 226, 226);
        font-size: 13px;
        color: rgb(192, 192, 192);
        font-weight: bolder;
      }

      .deliveryFree {
        @include flex(space-between, center, row);
        padding: 10px 0px 10px 0px;
        font-size: 13px;
        color: rgb(192, 192, 192);
        font-weight: bolder;
      }

      .TotalPay {
        @include flex(space-between, center, row);
        padding: 10px 0px 20px 0px;
        font-weight: bolder;
        color: rgb(82, 82, 82);
      }

      .Paybutton {
        @include flex(space-between, center, row);
        padding: 20px 0px 20px 0px;

        .orderButton {
          background-color: white;
          color: black;
          width: 19.6vh;
          height: 3.9vh;
          border-radius: 5px;
          border: 0.5px solid black;
          cursor: pointer;
        }
        .AllorderButton {
          background-color: black;
          color: white;
          width: 19.6vh;
          height: 3.9vh;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
