@import '../../styles/variable.scss';
.downChoiceBoxController {
  flex-grow: 1;
  @include flex(space-between, center, row);
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-left: 10px;

  .itemInformation {
    @include flex(none, none, column);
    padding-bottom: 10vh;

    label {
      font-weight: bolder;
      cursor: pointer;

      input {
        margin-right: 12px;
      }
    }

    @media (max-width: 860px) {
      label {
        margin-top: 40px;
      }
    }

    p {
      font-size: 14px;
      margin: 10px 0px 25px 25px;
    }

    .SelectQuantityBox {
      position: relative;
      margin-left: 23px;
      padding-left: 27px;
      padding-top: 3px;
      border: 1px solid black;
      height: 25px;
      width: 70px;

      .SelectQuantity {
        width: 70px;
        height: 25px;
        margin-left: 10px;
        text-align: center;
        border-radius: 0px;
        border: 1px solid black;
      }

      .SelectQuantityPlus {
        position: absolute;
        right: 2px;
        width: 15px;
        top: -2px;
        background: none;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }

      .SelectQuantityMinus {
        position: absolute;
        left: 2px;
        width: 15px;
        top: -7px;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

  .SelectQuantityImgBox {
    margin-right: 30px;
    position: relative;

    .orderItem {
      width: 130px;
      height: 180px;
    }

    @media (max-width: 860px) {
      .orderItem {
        width: 100px;
        height: 150px;
      }
    }

    .SelectQuantityClearButton {
      position: absolute;
      background: none;
      border: none;
      font-size: 30px;
      top: -13px;
      right: -20px;
      cursor: pointer;
      font-weight: 100;

      img {
        width: 10px;
      }
    }
  }
}
@media (max-width: 860px) {
  .downChoiceBoxController {
    height: 180px;
  }
}
