@import '../../styles/variable.scss';
.upChoiceBoxController {
  width: 60vh;
  @include flex(space-between, center, row);
  padding: 20px 0px 20px 0px;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-left: 10px;

  .checkAll {
    cursor: pointer;

    input {
      margin-right: 13px;
    }
  }

  .checkDelete {
    background: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
  }
}
