img {
  width: 300px;
  height: 400px;
}

.mainSectionMenu {
  padding: 3.75rem 5rem;
  .sectionTitle {
    color: #BFBFBF;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
  .sectionMenu {
    padding-bottom: 4rem;
    & :hover {
      border-bottom: solid 0.35rem #222;
      transition: all 0.3s ease-in-out;
      }
    
    .mainMenu{
      font-size: 4rem;
    }
    
    .subMenu{
      padding-top: 0.7rem;
      font-size: 4rem;
    }
  }
  .menuInfo{
    display: flex;

    .info {
      display: flex;
      flex-direction: column;
      width: 21rem;
      flex: 0 0 auto;
      margin-right: 2.5rem;
      margin-bottom: 2.5rem
      
      img {
        width: 300px;
        height: 400px;
      }

      .halfImg {
        width: 300px;
        height: 200px;
      }
        
      .category {
        font-size: 1rem;
        display: flex;
        margin-top: 1.25rem;

        .cate {         
          margin-right: 1rem;
        }

      }
      
      .title{
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.2;
        padding-top: 1rem;
      }
      .desc{
        width: 260px;
        height: 180px;
        font-size: 1rem;
        overflow: hidden;
        line-height: 1.6;
      }
    }

  }
  
}