.numLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  font-size: 3rem;
  opacity: 0;
}
.numRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  font-size: 3rem;
  opacity: 0;
}

.num {
  position: relative;
  top: -150px;
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 6rem;
  color: white;

  .prevNum {
    width: 50%;
    text-align: left;
  }

  .nextNum {
    width: 50%;
    text-align: right;
  }
}

.slideInfo {
  position: relative;
  top: -50rem;
  width: 835px;
  height: 100px;
  padding-left: 5rem;
  color: #fff;

  .title,
  .issueNum {
    padding-right: 1.25rem;
    font-size: 1rem;
  }

  div {
    margin-bottom: 0.625rem;
    font-size: 4rem;
    line-height: 6rem;
  }

  p {
    margin-bottom: 2.5rem;
    line-height: 1.55rem;
    word-break: keep-all;
  }

  .shopNow {
    border-bottom: 1px solid #ffffff;
    opacity: 0.6;
    color: #fff;
  }
}
