.mainSectionMenu {
  padding: 3.75rem 5rem;

  .sectionTitle {
    margin-bottom: 2.5rem;
    color: #bfbfbf;
    font-size: 1.75rem;
  }

  .sectionMenu {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-bottom: 4rem;
    font-size: 4rem;

    .mainMenu {
      padding-bottom: 0.5rem;
      .mainMenuTitle {
        &:hover {
          transition: all 0.3s ease-in-out;
          border-bottom: solid 0.35rem #222;
        }
        &:active {
          transition: all 0.3s ease-in-out;
          border-bottom: solid 0.35rem #222;
        }
      }
    }

    .subMenu {
      padding-top: 0.7rem;
      .subMenu1 {
        &:hover {
          transition: all 0.3s ease-in-out;
          border-bottom: solid 0.35rem #222;
        }
        &:active {
          transition: all 0.3s ease-in-out;
          border-bottom: solid 0.35rem #222;
        }
      }
      .subMenu2 {
        &:hover {
          transition: all 0.3s ease-in-out;
          border-bottom: solid 0.35rem #222;
        }
        &:active {
          transition: all 0.3s ease-in-out;
          border-bottom: solid 0.35rem #222;
        }
      }
    }
  }

  .menuInfo {
    display: flex;

    .info {
      display: flex;
      width: 21rem;
      margin-right: 2.5rem;
      margin-bottom: 2.5rem;
      flex-direction: column;
      flex: 0 0 auto;

      img {
        width: 300px;
        height: 400px;
      }

      .halfImg {
        height: 200px;

        &:hover {
          cursor: pointer;
        }
      }

      .category {
        display: flex;
        margin-top: 1.25rem;
        font-size: 1rem;

        .cate {
          margin-right: 1rem;
        }
      }

      .title {
        padding-top: 1rem;
        line-height: 1.2;
        font-size: 1.75rem;
        font-weight: 500;
      }
      .desc {
        width: 260px;
        max-height: 180px;
        margin-top: 1px;
        font-size: 1rem;
        line-height: 1.6;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .sectionShopLink {
    margin-top: 5.65rem;
    opacity: 0.5;
    text-align: right;
    font-size: 6rem;

    .Arrow {
      position: relative;
      top: 0.8rem;
      padding-left: 1rem;
    }
  }
}
