@import '../../styles/variables.scss';

.product {
  margin-bottom: 5rem;
  width: 100%;

  .prodImgContainer {
    display: flex;

    .prodImgWrapper {
      width: 100%;
      padding: 0 0.5rem;

      .prodImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .prodInfoContainer {
    @include flex(space-between);
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;

    .prodInfoWrapper {
      flex: 3;
      flex-wrap: wrap;

      .prodInfo {
        padding-right: 1rem;
      }
    }
    .addToCart {
      border-bottom: 1px solid black;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
