@import '../../styles/variable.scss';

body {
  // font-size: calc(0.625vw + 4px);
  .prdDetailPage {
    padding-top: 7.75rem;
  
    .prdDetailContainer {
      width: 100%;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-bottom: 5rem;
      display: flex;
      .prdDetailLeft {
        width: 66%;
    
        .prdCategoryBox {
          display: flex;
          font-size: 1.75rem;
          margin-bottom: 0.5rem;
    
          h4 {
            padding-right: 1.5rem;
          }
        }
    
        h1 {
          font-size: 6rem;
          margin-bottom: 1.5rem;
        }
    
        .prdPrice {
          font-size: 1.75rem;
        }
    
        .prdCount {
          font-size: 1.75rem;
          padding: 1rem 0 1.75rem;
    
          span:nth-child(1){
            padding-right: 0.5rem;

            &:hover {
              cursor: pointer;
            }
          }
      
          span:nth-child(3){
            padding-left: 0.5rem;

            &:hover {
              cursor: pointer;
            }
          }
    
        }
        
        
        .prdMetaInfo {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          line-height: 1.55;
          font-weight: 400;
    
          span {
            span:nth-child(1) {
              padding-right: 0.5rem;
              color: #999;
            }
          }
          
        }
      }
    
      .prdDetailRight {
        width: 33%;
        padding-right: 1.25rem;
        padding-left: 3rem;
    
        button {
          background-color: #222;
          color: #fff;
          width: 100%;
          font-size: 1.25rem;
          padding: 0.7rem 1rem;
          border-radius: 0.25rem;
          border: 1px solid #222;
          font-weight: 400;
          line-height: 1.5;
          
        &:hover {
          cursor: pointer;
        }
        }
    
        .prdDescription{
          padding-top: 3.75rem;
          font-size: 1rem;
          line-height: 1.5; 

          p:nth-child(1) {
            padding-right: 1.5rem;
            font-weight: 400;
            color: #999;
          }
        }
      }
    }
    
    .prdImg {
      width: 100%;
      height: 1440px;
      
      img {
        width: 100%;
        height: 100%;
      }
      
    }
    
    
  
  
  }


}  

