.commentBox {
  width: 900px;
  height: auto;

  .commentItem {
    display: flex;
    justify-content: space-between;
    color: #6e6c6c;

    .userInfo {
      // background-color: aquamarine;
      padding-left: 0.5rem;

      .star {
        // background-color: blue;
        color: black;
        font-size: 1.8rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
      .comment {
        // background-color: blue;
        color: #6e6c6c;
        font-size: 1.5rem;
      }

      .userId {
        padding-top: 1.2rem;
        // background-color: aqua;
      }
    }
  }
}
