.commentBox {
  width: 900px;
  height: 130px;

  .commentItem {
    display: flex;
    justify-content: space-between;
    color: #6e6c6c;
    
    .userInfo {
      // background-color: aquamarine;
      
      .star{
        // background-color: blue;
        font-size: 1.8rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;     
        
      }
      .comment {
        // background-color: blue;
        color: #6e6c6c;
        font-size: 1.6rem;
      }   

      .userId {
        padding-top: 1.2rem;
        // background-color: aqua;
        
      }
    }
    
    
  }
}