@import '../../styles/variables.scss';
.signUPageWrapper {
  .signUPBox {
    @include flex(none, none, column);
    width: 364px;
    font-size: 0.8rem;
    margin-top: 120px;
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 40px;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 10vh;

    .signUpInputMap {
      position: relative;

      input {
        border: 1px solid rgb(243, 243, 243);
        height: 42px;
        padding: 13px;
      }

      input:focus {
        outline: none;
        border: 1px solid black;
      }

      .signUpItem {
        margin-bottom: 15px;
        width: 364px;
        color: #222222;
      }

      .signUpItemActive {
        margin-bottom: 45px;
        width: 364px;
      }

      .idWarningMessageAtive {
        font-size: 0.9em;
        color: red;
        //display: none;
        position: absolute;
        height: fit-content;
        top: 80px;
        left: 0px;
      }

      .passwordWarningMessageAtive {
        font-size: 0.9em;
        color: red;
        //display: none;
        position: absolute;
        top: 80px;
        left: 0px;
      }

      .WarningMessageNoneAtive {
        display: none;
      }
      // .signUpItemActive {
      //   margin-bottom: 30px;
      //   width: 364px;
      // }
    }

    .serviceAgree {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 35px;
      border-top: 1px solid rgb(218, 218, 218);
    }

    .agreeAll {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgb(218, 218, 218);
    }

    .inputWrapper label {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      span {
        text-decoration: underline;
      }

      input {
        margin-right: 10px;
      }

      input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff;
        border-radius: 4px;
        cursor: pointer;
        height: 13px;
        outline: 0;
        width: 13px;
        border: 1px solid #bebfc5;
        border-radius: 0px;
        position: relative;
      }

      input[type='checkbox']::before {
        content: '';
        background-image: url('../../assets/images/signUpCheckBox.png');
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }

      input[type='checkbox']::after {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        content: '';
        display: none;
        height: 40%;
        left: 40%;
        position: relative;
        top: 20%;
        transform: rotate(45deg);
        width: 15%;
      }

      input[type='checkbox']:checked {
        background: black;
        border: none;
      }

      input[type='checkbox']:checked::after {
        display: block;
      }
    }

    button {
      margin-top: 30px;
      background-color: #222;
      border: none;
      color: white;
      height: 42px;
      border-radius: 5px;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
