.cartModal {
  position: fixed;
  transition: right 0.1s linear;
  top: 0;
  right: -22rem;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 100%;
  background-color: #000;

  .cartNav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .cartMain {
    color: #fff;

    .empty {
      padding-top: 8.125rem;
      font-size: 1rem;
      text-align: center;
    }
  }

  .cartFooter {
    position: fixed;
    bottom: 0;
    width: 340px;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    background-color: #000;
  }
}

.cartModalOn {
  right: 0;
}
