@import '../../styles/variables.scss';
@mixin hoverWithMargin($margin) {
  margin: $margin;
  &:hover {
    cursor: pointer;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;

  .navigationContainer {
    @include flex(space-between, center);
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem 0;
    height: 4rem;

    .firstMenuContainer {
      @include flex(center, center);
      flex: 0.2;

      .magazinIcon {
        width: 19px;
        height: 22px;
        @include hoverWithMargin(0 20px);
      }

      .magazineMenu {
        @include hoverWithMargin(0 20px);
      }
    }

    .secondMenuContainer {
      @include flex(center, center);
      flex: 0.2;
      margin-right: 50px;

      .menus {
        @include hoverWithMargin(0 10px);
      }
    }
  }
  .searchModalContainer {
    @include flex(center, flex-start);
    margin: 4rem;

    .searchBar {
      width: 100%;
      border: none;
      font-size: 7rem;

      &::placeholder {
        color: #f2f2f2;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
