@import '../../styles/variable.scss';
@mixin hover {
  &:hover {
    cursor: pointer;
  }
}

.nav {
  @include flex(space-between, center, null);
  height: 50px;
  font-size: 1.25rem;
  font-weight: 500;

  .firstMenuContainer {
    @include flex(center, center, null);
    flex: 0.3;

    .magazinIcon {
      width: 19px;
      height: 22px;
      margin: 0 20px;
      @include hover;
    }

    .magazineMenu {
      margin: 0 20px;
      @include hover;
    }
  }

  .secondMenuContainer {
    @include flex(center, center, null);
    flex: 0.3;
    margin-right: 50px;

    .Menu {
      margin: 0 10px;
      @include hover;
    }
  }
}
