@import '../../styles/variables.scss';

.search {
  margin: 8rem 4rem 4rem 4rem;

  .searchContainer {
    @include flex(center, flex-start);

    .searchBar {
      width: 100%;
      border: none;
      font-size: 7rem;

      &::placeholder {
        color: #f2f2f2;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .searchedProdsContainer {
    @include flex(flex-start);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10rem;
  }
}
