@import '../../styles/variables.scss';

.prodContainer {
  @include flex();
  width: 33.3333%;
  margin-bottom: 7rem;

  .prodImgWrapper {
    flex: 1;

    .prodImg {
      width: 100%;
      object-fit: cover;
    }
  }
  .prodInfoWrapper {
    flex: 2;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    font-weight: 520;

    .prodInfo {
      padding: 0.2rem;
    }
  }
}
